<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
              type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
               Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,
               Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <!-->runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <unity>
    <typeAliases>
      <typeAlias alias="IUnityInterface"
           type="TestUnityCommon.IUnityInterface, TestUnityCommon" />
      <typeAlias alias="SolidUnityClass"
           type="TestUnityClasses.SolidUnityClass, TestUnityClasses" />
      <typeAlias alias="LiquidUnityClass"
           type="TestUnityClasses.LiquidUnityClass, TestUnityClasses" />
    </typeAliases>

    <containers>
      <container name="containerOne">
        <types>
          <type type="IUnityInterface" mapTo="SolidUnityClass" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>